
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5px;
    background: transparent;
}

.cover {
    width: 30em;
    height: 45em;
    background: #FFF6F6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.heading {
    padding: 3px 5px 3px 3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 7px;
    font-size: 30px;
    text-shadow: 1px 1px #ffffff;
    height: 30px;
    box-shadow: white 0 1px 1px 1px inset;
    color: #181117;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


