*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Roboto system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body { /*magazine centering*/
    display: grid;
    /* justify-content: center;
    align-items: center; */
    place-content: center;
    height: 100vh;
    width: 100vw;
    margin-top: 5px;
    overflow:hidden;
    background: transparent;
}

.magazine {
    /* display: flex;
    margin: auto; */
    width: 60em;
    height: 45em;
    /*1* let pointer event go trough pages of lower Z than .magazine*/
}


.magazine #cover {
    position: relative;
    width: 30em;
    height: 45em;
    background: #FFF6F6 !important;
    border: 1px solid #f7f7f7;
}


/* pages */

.magazine .page {
    --thickness: 3;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 30em;
    height: 45em;
    /* width: 100%; */
    gap: 0;
    border: 1px solid #e5e5e5;
    background:#FFF;
}

.magazine .shadow,
.magazine.shadow {
    box-shadow: 0.5px 4px 10px #cccccc;
}
/* 666 original color, 8c8c8c,  */

.magazine .page .padd {
    padding: 20px;
}


.heading {
    padding: 3px 5px 3px 3px;
    font-size: 30px;
    height: 30px;
    /* color: #181117; */
    font-weight: normal;
    font-family: Roboto system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation {
    position: absolute;
    bottom: 20px;
    width: 26em;
    justify-content: space-between;
    align-items: center;
    padding: 1px 2px;
    text-decoration: pink;
        color: #000000;
}
.navigation .list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Text */
.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    padding: 10px 15px 10px 15px;
}


/* Links */

a {
    text-decoration: none;
}

a:link {
    color: pink;
}

a:visited {
    color: #C71585;
    /* Change color for visited links */
}

a:hover {
    color: #FF69B4;
    /* Change color on hover */
}

a:active {
    color: #FF1493;
    /* Change color when clicked */
}

a img{
    height: 20px;
    width:auto;
}


